/*
*** Header div h1 h2 du login
 */

h1, h2 {
    font-family: roboto;
    font-size: 16px;
    font-weight: 300;
}

h2.leftBottom {
    color: #adadad;
}

h1.rightTop {
    color: black;
    margin-bottom: 2px;
}

h1.leftTop {
    color: white;
    margin-bottom: 2px;
}

h2.rightBottom {
    color: white;
}

#headerConnexion {
    display: flex;
    flex-direction: column;
    background-color: #444441;
    border-radius: 0;
    right: -155px;
    left: -135px;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 22px;
    padding-left: 30px;
    top: 0;
    bottom: 0;
    border-right: solid 1px white;
    align-items: left;
}

#headerInscription {
    display: flex;
    flex-direction: column;
    background-color: #F7B815;
    border-radius: 0;
    right: -65px;
    left: -135px;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 30px;
    padding-top: 22px;
    top: 0;
    border-left: solid 1px white;
    align-items: flex-end;
}

/*
*** Checkbox
 */

div#checkbox {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-family: roboto;
}

div#phrase {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-top: -4px;
    font-family: roboto;
    margin-bottom: 0;
    margin-right: 10px;
    color: #737472;
}

div.ligne {
    display: flex;
    justify-content: space-between;
}

label#top.form-check-label {
    font-size: 11.5px;
    bottom: 20px;
    font-color: #737472;
}

label#bottom.form-check-label {
    font-size: 11.5px;
    top: 20px;
    font-color: #737472;
}



/*
*** Buttons
 */

button#inscription.btn.btn-primary {
    background-color: #F7B815;
    border: none;
    width: 260px;
    border-radius: 0;
    height: 50px;
}

button#connexion.btn.btn-primary {
    background-color: #9CCC53;
    border: none;
    width: 260px;
    border-radius: 0;
    height: 50px;
}

/*
*** Width formulaires
 */

form.connexion {
    width: 260px;
    margin: auto;
}

form.inscription {
    width: 260px;
    margin: auto;
}

input.form-control {
    height: 30px;
    background-color: #ECE9E8;
    border: none;
    margin-top: 19px;
    border-radius: 0;
    font-weight: 100;
}


p.invitation {
    font-size: 14.8px;
    text-align: center;
    color: #737472;
    margin-top: 10px;
}

p.loginSocials {
    color : black;
    text-align: center;
    font-size: 14.8px;
    margin-top: 50px;
}

a {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: lightslategrey;
    margin-top: 10px;
}

.modal-content {
    border-bottom-right-radius: 40px 40px;;
}