/*
*** Width background page container
 */

.page {
    border-right: solid 2px #F4F5F3;
    border-left: solid 2px #F4F5F3;
    width: 760px;
    margin: auto;
}

div.container {
    background-color: #FEFFFE;
    width: 760px;
}

/*
*** Header
 */

div#headerInscription {
    background-color: #F4F5F3;
    font-weight: 300;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 7.3px;
    margin-bottom: 10px;
}

/*
*** Titre header
 */

h1 {
    font-size: 17.5px;
    font-family: roboto;
}

h2 {
    font-weight: 100;
    font-size: 16px;
    color: #9CCB53;
}

h3 {
    font-size: 19px;
    text-align: center;
    font-family: roboto;
}

h4 {
    margin-top: 10px;
    text-align: center;
    font-weight: 100;
    font-family: roboto;
}

/*
*** Input
 */

input.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0px;
    border: none;
    background-color: #EBE9E7;
    font-weight: 100;
}

input.form-check-input {
    margin-top: 10px;
    font-family: roboto;
    font-size: 14px;
}

/*
*** Bouton submit inscription
 */

button#submit {
    margin: auto;
    width: 370px;
    border-radius: 0px;
    background-color: #F7B716;
    border: none;
}

/*
*** Mes informations
 */

div.header {
    margin-right: -16px;
    margin-left: -16px;
    padding-bottom: 20px;
    padding-top: 20px;
}

p.header {
    font-size: 13px;
}

button#ongletParticulier, button#ongletEntreprise{
    font-size: 17px;
    font-family: Roboto;
    color: white;
    border-top-left-radius: 25px 24px;
    border-top-right-radius: 25px 24px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
}

button#ongletEntreprise {
    background-color: #8F908F;
}

button#ongletParticulier {
    background-color: #799C37;
}

button#ongletEntreprise {
     background-color: #8F908F;
}

button#ongletParticulier {
    background-color: #799C37;
}

span {
    font-size: x-large;
}

div.particulierHeader {
    text-align: center;
    background-color: #9CCB53;
    margin-right: -10px;
    margin-left: -14px;
    padding-top: 10px;
    padding-bottom: 0.1px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
}

div.entrepriseHeader {
    text-align: center;
    background-color: #8F908F;
    margin-right: -14px;
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 0.1px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
}

/*
*** Button header
 */

button#entreprise {
    font-size: 21px;
    font-family: Roboto;
    color: white;
    margin-left: 4.8px;
}

button#particulier {
    font-size: 21px;
    font-family: Roboto;
    color: white;
    margin-left: 4.8px;
}

/*
*** Footer
 */

div#footer {
    border: solid 1px peachpuff;
    background-color: #F6F7F6;
}

div#footer p {
    height: 210px;
    min-height: 20%;
    max-height: 160%;
    overflow: scroll;
}