    {% block body %}

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 text-center">
                        <a href="/"><img class="my-3" style="width: 150px; height: 45px;" src="images/logo-esteval-pro.svg" alt="Logo"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-9 text-center">
                        <nav class="navigation_footer mr-md-5 justify-content-center justify-content-md-end">
                            <ul class="barlateral">
                                <li>
                                    <a href="/contact">Nous contacter |</a>
                                </li>
                                <li>
                                    <a href="/company">L'entreprise |</a>
                                </li>
                                <li>
                                    <a href="/pro">Les flux professionnels |</a>
                                </li>
                                <li>
                                    <a href="/mentions-legales">Mention légales</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>

    {% endblock %}
