<aside class="d-lg-block col-12 col-lg-4">
    <div class="sidebar">
        <div class="row">
            <div class="d-none d-lg-block col-12 abonnement">
                <img src="images/choix_mag_sidebar.png" alt="Image de magasine">
                <a href="/abonnements">
                    <button type="button" class="btn btn-vesteval">Je m'abonne</button>
                </a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="row">
            <div class="col-12">
                <div id="exTab2" class="flux-infos">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1" data-toggle="tab" class="active">Derniers articles parus</a>
                        </li>
                        <li>
                            <a href="#2" data-toggle="tab">Les plus lus</a>
                        </li>
                    </ul>

                    <div class="tab-content ">
                        <div class="tab-pane active" id="1">
                            <ul>
                                <li>
                                    <a href="">Je suis un titre d'article super trop cool et sur deux lignes</a>
                                </li>
                                <li>
                                    <a href="">Je suis un titre d'article super trop cool et sur deux lignes</a>
                                </li>
                                <li>
                                    <a href="">Je suis un titre d'article super trop cool et sur deux lignes</a>
                                </li>
                                <li>
                                    <a href="">Je suis un titre d'article super trop cool et sur deux lignes</a>
                                </li>
                                <li>
                                    <a href="">Je suis un titre d'article super trop cool et sur deux lignes</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="2">
                            <ul>
                                <li>
                                    <a href="">Je suis un autre d'article super trop cool et sur deux lignes</a>
                                </li>
                                <li>
                                    <a href="">Je suis un autre d'article super trop cool et sur deux lignes</a>
                                </li>
                                <li>
                                    <a href="">Je suis un autre d'article super trop cool et sur deux lignes</a>
                                </li>
                                <li>
                                    <a href="">Je suis un autre d'article super trop cool et sur deux lignes</a>
                                </li>
                                <li>
                                    <a href="">Je suis un autre d'article super trop cool et sur deux lignes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="row">
            <div class="col-12">
                <form class="newsletter">
                    <div class="form-group">
                        <label for="newsletter"><i class="fa fa-envelope" aria-hidden="true"></i> S'inscrire à la newsletter</label>
                        <input type="email" class="form-control" id="newsletter" name="newsletter" placeholder="Ecrivez votre adresse e-mail">
                        <button type="submit" class="btn btn-vesteval">Ok</button>
                    </div>

                </form>
            </div>
        </div>
        <a href="/">
            <div class="flux_editions">
                <img src="images/e_editions.png" class="e_pro" alt="">
                <img src="images/texte_edi.png" class="texte_pro" alt="">
            </div>
        </a>
    </div>
</aside>