{% extends "base.html.twig" %}

    {% block body %}

        {% include('header.html.twig') %}

            <div class="container">
                <div class="row">
                    <div class="col-12">

                        Contenu
                        
                    </div>

                </div>
            </div>

        {% include('footer.html.twig') %}

    {% endblock %}

