

{% block body %}

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 text-center">
<<<<<<< HEAD
                    <a href="/"><img style="width: 150px; height: 45px;" class="my-3" src="images/logo-esteval.svg" alt="Logo"></a>
=======
                    <a href="/"><img class="my-3" style="width: 150px; height: 45px;" src="images/logo-esteval.svg" alt="Logo"></a>
>>>>>>> ae32a85d2db6ddb5c4b88428c076d2e7dfd3e35a
                </div>
                <div class="col-12 col-sm-12 col-md-9 text-center">
                    <nav class="navigation_footer mr-md-5 justify-content-center justify-content-md-end">
                        <ul class="barlateral">
                            <li>
                                <a href="/contact">Nous contacter |</a>
                            </li>
                            <li>
                                <a href="/company">L'entreprise |</a>
                            </li>
                            <li>
                                <a href="/pro">Les flux professionnels |</a>
                            </li>
                            <li>
                                <a href="/mentions-legales">Mentions légales et CGU</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
