{% block body %}


    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 text-center">
                    <img src="images/logo-footer.png" alt="esteval">
                </div>
                <div class="col-12 col-sm-12 col-md-9 text-center">
                    <navbar class="navigation_footer mr-md-5 justify-content-center justify-content-md-end">
                        <ul class="barlateral">
                            <li>
                                <a href="#">Nous contacter |</a>
                            </li>
                            <li>
                                <a href="#">L'entreprise |</a>
                            </li>
                            <li>
                                <a href="#">Les flux professionnels |</a>
                            </li>
                            <li>
                                <a href="#">Espace Presse |</a>
                            </li>
                            <li>
                                <a href="#">Mention légales</a>
                            </li>
                        </ul>
                    </navbar>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}
