{% extends "base.html.twig" %}

{% block body %}

    {% include('header.html.twig') %}

    <main class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a href="">
                                        <img class="d-block w-100" src="images-article/vendeur.jpg" alt="First slide">
                                        <div class="carousel-caption d-block">
                                            <h3>{{ firstArticle.titre }}</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-item">
                                    <a href="">
                                        <img class="d-block w-100" src="http://www.voyage-sponsorise.com/wp-content/uploads/2017/09/image-slider2.jpg" alt="Second slide">
                                        <div class="carousel-caption d-block">
                                            <h3>Je suis un titre d'article super trop cool et sur deux lignes</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-item">
                                    <a href="">
                                        <img class="d-block w-100" src="http://www.voyage-sponsorise.com/wp-content/uploads/2017/09/image-slider2.jpg" alt="Third slide">
                                        <div class="carousel-caption d-block">
                                            <h3>Je suis un titre d'article super trop cool et sur deux lignes</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-item">
                                    <a href="">
                                        <img class="d-block w-100" src="http://www.voyage-sponsorise.com/wp-content/uploads/2017/09/image-slider2.jpg" alt="Third slide">
                                        <div class="carousel-caption d-block">
                                            <h3>Je suis un titre d'article super trop cool et sur deux lignes</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-item">
                                    <a href="">
                                        <img class="d-block w-100" src="http://www.voyage-sponsorise.com/wp-content/uploads/2017/09/image-slider2.jpg" alt="Third slide">
                                        <div class="carousel-caption d-block">
                                            <h3>Je suis un titre d'article super trop cool et sur deux lignes</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <i class="fa fa-angle-left arrow arrow-left" aria-hidden="true"></i>
                                {# <span class="carousel-control-prev-icon" aria-hidden="true"></span> #}
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <i class="fa fa-angle-right arrow arrow-right" aria-hidden="true"></i>
                                {# <span class="carousel-control-next-icon" aria-hidden="true"></span> #}
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                
                {% include('partenaires.html.twig') %}

                <div class="row">
                    {% for article in articles %}
                        <div class="articles col-12 col-lg-6">
                            <article>
                                <a href="#">
                                    <div class="content_article">
                                        <div style="position:relative;z-index:1">
                                            <div class="content_image">
                                                <img src="" alt="Image de l'article">
                                            </div>
                                            <div class="rubrique_index">
                                                rubrique
                                            </div>
                                            <div class="text_article">
                                                {{ article.titre }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <p class="raw_nowrap">{{ article.texteRaw }}</p>
                                <div class="row m-0">
                                    <div class="col-6 p-0 reseaux-sociaux">
                                        <a href="https://www.facebook.com/Estevaleditions/?ref=hl" target="_blank">
                                            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                                        </a>
                                        <a href="https://twitter.com/bisaga" target="_blank">
                                            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                                        </a>
                                        <a href="https://fr.linkedin.com/in/thierry-bisaga-66a77a" target="_blank">
                                            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-6 p-0 d-flex justify-content-end">
                                        <div class="suite"><button class="btn-suite">Lire la suite</button></div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}

                </div>
            </div>

            {% include('sidebar.html.twig') %}

        </div>
    </main>
    {% include('footer.html.twig') %}


{% endblock %}