{% extends "base.html.twig" %}

    {% block body %}

        {% include('header.html.twig') %}

        <main class="container librairie">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <h1>Librairie</h1>
                        </div>
                    </div>
                    {% include('partenaires.html.twig') %}
                    <div class="row">
                        <div class="col-12 paragraphe">
                            <p>Veuillez trouver ci-dessous l'ensemble de nos publications au format PDF. <br>
                                Si vous souhaitez sélectionner plus précisement celles qui vous intéressent, <br> merci
                                d'utiliser le menu déroulant ci-dessous.</p>
                        </div>
                        <div class="col-12">
                            <form class="form-inline">
                                <label class="my-1 mr-2" for="select_magasines">Choisissez un magasine : </label>
                                <select class="custom-select my-1 mr-sm-2" id="select_magasines">
                                    <option value="0" selected>Les derniers magasines parus</option>
                                    <option value="3">Epargnons Responsable</option>
                                    <option value="1">La Bulle des entrepreneurs</option>
                                    <option value="2">Brique par Brique</option>

                                </select>
                            </form>
                        </div>
                        <div class="col-12 titre-derniers-numeros">
                            <h4></h4>
                        </div>
                    </div>

                    <div class="row" id="magasine-liste">
                        <!--
                            <div class="col-12 col-lg-4">
                                <h6><span>Epargnons</span> responsable</h6>
                                <a href="#">
                                    <div class="magasines">
                                        <div class="info_mag">
                                            <span class="numero">n°298</span>
                                            <span class="mois-annee">Janvier 2018</span>
                                        </div>
                                        <img src="images/magasine2.jpg" alt="Image de magasine">
                                    </div>
                                </a>
                            </div>
                        -->
                    </div>
                    <div class="row" id="pagination">

                    </div>

                </div>

                {% include('sidebar.html.twig') %}

            </div>
        </main>





        {% include('footer.html.twig') %}

    {% endblock %}
