{% extends "base.html.twig" %}

    {% block body %}

        {% include('header.html.twig') %}

        <main class="container mentions-légales">
            <div class="row">
                <div class="col-12">
                    <h1>Mentions légales - conditions générales d'utilisation</h1>
                    <p>Contrat d'utilisation du site d’Esteval définissant les droits et obligations des parties dans le cadre de l'utilisation des informations et services proposés par Esteval</p>
                </div> 

            </div>
        </main>            

        {% include('footer.html.twig') %}

    {% endblock %}                       
                       
                    
               
    
            
    
           
        
    



