{% extends "base.html.twig" %}

    {% block body %}

        {% include('header.html.twig') %}

        <main class="container page-article">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="row titre">
                        <div class="col-12">
                            <h1 class="m-0">{{ article[0].titre }}</h1>
                            <div class="rubrique_index" data-type="{{ article[0].idRubrique }}">{{ article[0].idRubrique }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <img src="http://www.voyage-sponsorise.com/wp-content/uploads/2017/09/image-slider2.jpg" alt="Photo article" width="100%">
                            <div class="col reseaux-sociaux">
                                <a href="https://www.facebook.com/Estevaleditions/?ref=hl" target="_blank">
                                    <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                                </a>
                                <a href="https://twitter.com/bisaga" target="_blank">
                                    <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                                </a>
                                <a href="https://fr.linkedin.com/in/thierry-bisaga-66a77a" target="_blank">
                                    <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row paragraphes">
                        <div class="col-12">

                            {{ article[0].texte|raw }}

                        </div>
                    </div>
                    <div class="row magasine text-center">
                        <div class="col-12">
                            <img src="images/bulles.jpg" alt="Image du magasine">
                            <p>Lectures du moment, tribunes d'experts, management et entreprenariat...</p>
                            <a href="/abonnements">Je m'abonne gratuitement</a>
                        </div>
                    </div>
                    <div class="section-articles-similaires">
                        <div class="row titre-article">
                            <div class="col-12">
                                <h3><i class="fa fa-plus-circle" aria-hidden="true"></i> Les articles similaires</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <a href="#">
                                    <div class="articles">
                                        <div style="position:relative;z-index:1">
                                            <img src="http://www.voyage-sponsorise.com/wp-content/uploads/2017/09/image-slider2.jpg" width="100%" alt="Image de l'article">
                                            <div class="articles-similaires">
                                                Elephant
                                            </div> 
                                        </div>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-12 col-lg-4">
                                <a href="#">
                                    <div class="articles">
                                        <div style="position:relative;z-index:1">
                                            <img src="http://www.voyage-sponsorise.com/wp-content/uploads/2017/09/image-slider2.jpg" width="100%" alt="Image de l'article">
                                            <div class="articles-similaires">
                                                Elephant
                                            </div> 
                                        </div>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-12 col-lg-4">
                                <a href="#">
                                    <div class="articles">
                                        <div style="position:relative;z-index:1">
                                            <img src="http://www.voyage-sponsorise.com/wp-content/uploads/2017/09/image-slider2.jpg" width="100%" alt="Image de l'article">
                                            <div class="articles-similaires">
                                                Elephant
                                            </div> 
                                        </div>
                                    </div>
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>  


        {% include('sidebar.html.twig') %}
    
             </div>
        </main>





    {% include('footer.html.twig') %}

{% endblock %}
        