{% block body %}

  
        <div class="row partenaires">
            <div class="col-12 part align-items-center">
                <h6><span class="nos">Nos</span> partenaires</h6>
                <div>
                    <img class="logo-partenaire logo-active" src="images/a.png" alt="Logo Active">
                </div>
                <div>
                    <img class="logo-partenaire logo-positive" src="images/positive.png" alt="Logo Positive">
                </div>
                <div>
                    <img class="logo-partenaire logo-forcemedia" src="images/force_media.png" alt="Logo Force Media">
                </div>  
            </div>
        </div>

{% endblock %}
