<aside class="d-lg-block col-12 col-lg-4">
    <div class="sidebar">
        <div class="row">
            <div class="d-none d-lg-block col-12 abonnement">
                <img src="images/choix_mag_sidebar.png" alt="Image de magasine">
                <a href="/abonnements">
                    <button type="button" class="btn btn-vesteval">Je m'abonne</button>
                </a>
            </div>
        </div>
        <div class="separator d-none d-lg-block"></div>
        <div class="row">
            <div class="col-12">
                <div id="exTab2" class="flux-infos">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1" data-toggle="tab" class="active">Derniers articles parus</a>
                        </li>
                        <li>
                            <a href="#2" data-toggle="tab">Les plus lus</a>
                        </li>
                    </ul>

                    <div class="tab-content ">
                        <div class="tab-pane active" id="1">
                            <ul>
                                <li>
                                    <a href="/article?id=1254">Source Markets PLC nomme Feargal Dempsey administrateur indépendant.</a>
                                </li>
                                <li>
                                    <a href="/article?id=1255">Keyrus accompagne La Mutuelle Générale dans la mise en place d’un outil d’analyse de ses coûts par activité.</a>
                                </li>
                                <li>
                                    <a href="/article?id=1256">Mutuelle Conseil accélère son développement avec le soutien de BlackFin. </a>
                                </li>
                                <li>
                                    <a href="/article?id=1257">Relaxnews un an après son introduction en Bourse.</a>
                                </li>
                                <li>
                                    <a href="/article?id=1258">Seconde levée de fonds pour MADEAconcept.</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="2">
                            <ul>
                                <li>
                                    <a href="/article?id=1259">Jens Peers directeur Gestion actions investissement responsable de Mirova.</a>
                                </li>
                                <li>
                                    <a href="/article?id=1260">Pascal Beaubois rejoint BNP Paribas Immobilier Résidentiel.</a>
                                </li>
                                <li>
                                    <a href="/article?id=1261">Marché de l’immobilier ancien : Bilan 2012 - Perspectives 2013.</a>
                                </li>
                                <li>
                                    <a href="/article?id=1262">L’ACP et l’AMF renforcent leur vigilance au niveau de la distribution des produits d’épargne.</a>
                                </li>
                                <li>
                                    <a href="/article?id=1263">Les Indices immobilier de l’IEIF.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="row">
            <div class="col-12">
                <form class="newsletter">
                    <div class="form-group">
                        <label for="newsletter"><i class="fa fa-envelope" aria-hidden="true"></i> S'inscrire à la newsletter</label>
                        <input type="email" class="form-control" id="newsletter" name="newsletter" placeholder="Ecrivez votre adresse e-mail">
                        <button type="submit" class="btn btn-vesteval">Ok</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="separator"></div>
        <a href="/pro">
            <div class="flux_pro">
                <img src="images/e_pro.png" class="e_pro" alt="">
                <img src="images/texte_pro.png" class="texte_pro" alt="">
            </div>
        </a>
    </div>
</aside>